<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">Blog</h3>
    <section>
        <div class="card">
            <ul class="list-inline">  
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/child-photography">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Child photography
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/hair-nails-makeup">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Hair, nails, makeup
                    </button>
                  </a>
    
                
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/location">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Location
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/outfit-for-photo">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Outfit for photo
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/preparing-newborn-photoshoot">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Preparing newborn photoshoot
                    </button>
                  </a>
    
              </li>
    
            </ul>
          </div>
          
      <div class="card">
        <h5 class="card-header">Child photography</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-02-19 20:00"> 2019-02-19</time>
          </h5>
          <p class="card-text">
            If you decided to take a toy with you, take a new toy that your kid did not see before.
            And show it exactly when the photographer is ready to capture.
            This will pull out great expressions of your child. Discard templates like “Say cheeeeeese”.
            Be creative!
          </p>
          <p class="card-text">
            Other options to stick attention of a child:
          </p>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/bell.png" class="card-img" alt="bell">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                A bell
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/paperPlane.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                A paper plane (“let’s see where it is going to fly”)
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/colorToys.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                Bright colorful toys
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/plasticCups.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                Plastic cup (make a noise smashing it)
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/beads.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                Beads
              </p>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-birthday-cake"></i>
              Do not give chocolate and candy during the session.
              The kid will be focused on it, and their face, hands and clothes will be dirty with chocolate and you will
              never put such picture to your package.
              The best solution is to wait until the session is over.
            </li>
            <li class="list-group-item">
              <i class="fa fa-coffee"></i>
              Take a warm blanket, warm beverage to warm up your kid during cold season.
            </li>
            <li class="list-group-item">
              <i class="fa fa-bed"></i>
              Make sure your kid slept well at the point of the day of your photoshooting. Change a damper, feed the kid
              before the session begins.
            </li>
            <li class="list-group-item">
              <i class="fa fa-comment-o"></i>
              Listen to your photographer where to place your kid: professional photographer has a certain idea in mind.
              He pays attention to the backdrop, to the light, he/she sees the picture before it is shot.
            </li>
            <li class="list-group-item">
              <i class="fa fa-certificate"></i>
              Always praise and compliment your kid, his/her experience must be positive.
            </li>
          </ul>
        </div>
      </div>

    </section>

  </div>
</div>