<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">Blog</h3>
    <section>

        <div class="card">
            <ul class="list-inline">  
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/child-photography">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Child photography
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/hair-nails-makeup">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Hair, nails, makeup
                    </button>
                  </a>
    
                
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/location">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Location
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/outfit-for-photo">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Outfit for photo
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/preparing-newborn-photoshoot">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Preparing newborn photoshoot
                    </button>
                  </a>
    
              </li>
    
            </ul>
          </div>
          
      <div class="card">
        <h5 class="card-header">Location</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-03-15 20:00"> 2019-03-15</time>
          </h5>
          <p class="card-text">Color makes sense!
            Color of the picture (if it is not a monochrome black&white) is one of the main characteristics our eyes pay
            attention
            at.
            In order to get harmonious pictures, you should know color palette of the location. This will help you to
            choose right
            color and texture of the clothes.
            In my practice I always check location before the session to make a color palette for the client.
            You can find examples of the locations spread out on the color gamma below. You can see how gamma differs.
          </p>
          <div class="row">
            <div class="col-md-12">
              <img src="../assets/blogimages/psTricksTips/band.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <img src="../assets/blogimages/psTricksTips/architect.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <img src="../assets/blogimages/psTricksTips/multicolors.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <img src="../assets/blogimages/psTricksTips/ledger.png" class="card-img" alt="band">
            </div>
          </div>
          <p class="card-text mt-3">
            As a professional photographer, even if I know the location in detail, I always come there at least the day
            before the session to doublecheck.
            The hotel’s decorations may change, tulips blossom may end, the tree you like may be hacked away or the park
            you
            were looking for photoshoot is under reconstruction.
            It is better to be prepared for all this beforehand.
          </p>
        </div>
      </div>

    </section>

  </div>
</div>