<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">Blog</h3>
    <section>
        <div class="card">
            <ul class="list-inline">  
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/child-photography">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Child photography
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/hair-nails-makeup">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Hair, nails, makeup
                    </button>
                  </a>
    
                
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/location">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Location
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/outfit-for-photo">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Outfit for photo
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/preparing-newborn-photoshoot">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Preparing newborn photoshoot
                    </button>
                  </a>
    
              </li>
    
            </ul>
          </div>
          
      <div class="card">
        <h5 class="card-header">Hair, nails, makeup</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-03-04 20:00"> 2019-03-04</time>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-scissors"></i>
              Make sure your hair and nails are clean and make up is appropriate. If it is a family photo shooting,
              I recommend nude colors for nails and make up. In case you prefer a professional stylist, tell them to
              avoid highlights and glitter.
            </li>
            <li class="list-group-item">
              <i class="fa fa-sticky-note"></i>
              Pay attention to the details. If it is a maternity or family photoshoot, use nude colors.
              Bright make-up and manicure will focus attention on nails and your face, and the picture will lose its
              main idea.
            </li>
            <li class="list-group-item">
              <i class="fa fa-eye"></i>
              Bright manicure and makeup are appropriate for the fashion photoshoot.
            </li>
            <li class="list-group-item">
              <i class="fa fa-question-circle-o"></i>
              Ask your photographer for recommendations. Professional photographers are interested in taking great
              result, just like you, or maybe more.
              Keep in mind, if the session is going to be on the planner (forest, lavender fields, seashore, etc.) it is
              better to use natural colors.
            </li>
          </ul>
        </div>
      </div>

    </section>

  </div>
</div>