<navbar></navbar>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">

      <p class="lead text-muted" style="margin-top: 8px;">
        Taking an image, freezing a moment, reveals how rich reality truly is.
      </p>
      <!-- <div class="d-flex justify-content-center">
        <a routerLink="/prices">
          <button type="button" class="btn btn-primary">
            Only this April all packages 20% off!
          </button>
        </a>
      </div> -->
      <div class="d-flex justify-content-center">
        <a routerLink="/certificate">
          <button type="button" class="btn btn-outline-primary">
            Deal of the month. This month deal is a Newborn Gift Certificate $300
          </button>
        </a>
      </div> 
    </div>
  </section>

  <router-outlet></router-outlet>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <button type="button" (click)="doScroll()" class="btn btn-link">Back to top</button>
    </p>
    <p>&copy; Copyright 2019 Timelina LLC </p>
  </div>
</footer>