<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">Blog</h3>
    <section>

        <div class="card">
            <ul class="list-inline">  
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/child-photography">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Child photography
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/hair-nails-makeup">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Hair, nails, makeup
                    </button>
                  </a>
    
                
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/location">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Location
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/outfit-for-photo">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Outfit for photo
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/preparing-newborn-photoshoot">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Preparing newborn photoshoot
                    </button>
                  </a>
    
              </li>
    
            </ul>
          </div>
          
      <div class="card">
        <h5 class="card-header">How to choose outfit for the photo session</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-03-22 20:00"> 2019-03-22</time>
          </h5>
          <p>
            The result of excellent photography depends on our collaboration and high-quality preparation.
            Let’s talk about what looks advantageous and what is better to avoid in your clothes.
          </p>

          <b> Avoid: </b>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              black color
            </li>
            <li class="list-group-item">
              colorful
            </li>
            <li class="list-group-item">
              striped
            </li>
            <li class="list-group-item">
              bright colors
            </li>
            <li class="list-group-item">
              logos and prints
            </li>
          </ul>
          
          <br>  
          <b> Prefer: </b>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              plain (mono-color) clothes
            </li>
            <li class="list-group-item">
              deep warm natural colors
            </li>
            <li class="list-group-item">
              natural fabrics
            </li>
            <li class="list-group-item">
              bright colors
            </li>
            <li class="list-group-item">
              calm colors
            </li>
            <li class="list-group-item">
              combination of 2-3 colors and their hues. I recommend to take one
              intense color as a basis, and complement it with
              neutral - from beige to brown
            </li>
            <li class="list-group-item">
              scarves, gloves, hats, accessories would perfectly complement the image
            </li>
          </ul>
           <br> 
          <p>
            Choose among clothes you have at home, make a picture and send it to me on my cell:
            224-944-1760 and I will be happy to assist you with choosing the best outfit
            for your photo session.
          </p>
          <p>
            If you have chosen your outfit for the photo session, make sure it is
            appropriate for the location you are going to use. Both location and
            clothes must be combined in color and texture. For example, a gown and heels
            or a bow-tie suit are not appropriate to the forest location.
            If you want to photoshoot in your favorite clothes, send the picture to
            me and I will offer you several locations. Or if you know exactly the
            location you want your session to be done at, tell me, and we will choose
            the best outfit for you.
          </p>
          <p>Here are some examples:</p>
          <div class="row">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit1.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit2.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit3.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit4.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit5.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit6.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit7.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit8.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit9.png" class="card-img" alt="band">
            </div>
          
          </div>
        </div>
      </div>

    </section>

  </div>
</div>