<div class="album py-5 bg-light">
    <div class="container">
      <h3 class="color-grey">Portfolio</h3>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item right20">
            <a class="nav-link" routerLink="/gallery/family">Family</a>
          </li>
          <li class="nav-item right20">
            <a class="nav-link active" routerLink="/gallery/portrait">Portrait</a>
          </li>
          <li class="nav-item right20">
            <a class="nav-link" routerLink="/gallery/children">Children</a>
          </li>
          <li class="nav-item right20">
            <a class="nav-link" routerLink="/gallery/event">Event</a>
          </li>
          <li class="nav-item right20">
            <a class="nav-link" routerLink="/gallery/newborn">Newborn</a>
          </li>
          <li class="nav-item right20">
            <a class="nav-link" routerLink="/gallery/wedding">Wedding</a>
          </li>
        </ul>
      </nav>
        <div class="row">
  
        <div *ngFor="let image of images" class="col-md-4">
          <div class="card mb-4 shadow-sm border-secondary text-center">
            <img class="card-img-top" src={{image}} 
            (contextmenu)="onRightClick($event)" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
  </div>  