<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">About</h3>
    <div class="row centered">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Welcome!
            </h5>
            <p class="card-text">
              My name is Ksana and I am a Chicago based family and event photographer.
            </p>
            <p class="card-text">
              More than 10 years back I had found my passion in photography. That time I was travelling a lot and my camera had been my companion everywhere.
              In 2014 I had moved to Chicago and founded my first studio – PhotoKsana. PhotoKsana specializes on Family, Child and Event photography.
            </p>
            <p class="card-text">
              I am always more than happy to share your family special event, by capturing every moment of it. Our sessions highlight unique personality of each family member, genuine emotions and relationship between family members.  To convey the atmosphere of every family, I need to join them emotionally, understand the mood and the role of each family member, understand their feelings and their history.
              We work closely with each our client to achieve a look that reflects their personality, feelings and style. 
              Our clients come to us to book their photo session over and over again. They prefer us because they know they are in right hands. They trust us. We discuss every detail prior to our session: style, color, location, time, clothes, make-up, hair, other details to get a great result. 
            </p>
            <p class="card-text">
              I guarantee the most comfortable shooting atmosphere during the entire session
              PhotoKsana’s number one priority is our client’s satisfaction. We understand the importance of every shot and treat the role of your photos as your family heritage.   
            </p>
            <p class="card-text">
              Welcome to my world of photography and I will help you to freeze the most important moments of your family history!
            </p>
           
          </div>
        </div>
      </div>

    </div>
  </div>
</div>