.fullscreen {
    height: 0.95vh;
}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}

.menu-bottom-margin {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.left40 {
    margin-left: 40px;
}

.top10 {
    margin-top: 10px;
}

.top30 {
    margin-top: 30px;
}
.top60 {
    margin-top: 60px;
}

