<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">Packages and prices</h3>
    <div class="row">
      <div class="col-md-6 mb-2">
        <!-- 1st package -->
        <div class="card text-white bg-primary mb-6">
          <div class="card-header">
            <div class="pull-left">
              Silver
            </div>
            <div class="pull-right">
              <a class="text-white" href="mailto:photoksana@gmail.com?subject=Interested in the Silver package">
                <i class="fa fa-envelope-o"></i> Contact us</a>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-primary">One location</li>
            <li class="list-group-item list-group-item-primary">1-1,5 hours</li>
            <li class="list-group-item list-group-item-primary">15 retouched high resolution images, with unlimited
              rights to print the photos</li>
          </ul>
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-usd" aria-hidden="true"></i>350 
              <!-- <i class="fa fa-usd ml-2" aria-hidden="true"></i><strong>280</strong> -->
            </div>
          </div>
          <div class="card-footer">
            <div class="pull-left">
              Additionally to this package you may order:
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-primary">photobook 10x10 (5 spreads)
              <span class="badge badge-primary badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>190
              </span>
              or 12x12 (5 spreads)
              <span class="badge badge-primary badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>210
              </span>
              extra spread
              <span class="badge badge-primary badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>20
              </span>
              each
            </li>
            <li class="list-group-item list-group-item-primary">extra retouched images of your choice in high resolution
              <span class="badge badge-primary badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>25
              </span>
              each
            </li>
            <li class="list-group-item list-group-item-primary">extra prints of your choice (8x12) printed in a
              professional labaratory
              <span class="badge badge-primary badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>10
              </span>
              each
            </li>
            <li class="list-group-item list-group-item-primary"> gallery of shots in high resolution images
              <span class="badge badge-primary badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>150
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 mb-2">
        <!-- 2nd package -->
        <div class="card text-white bg-warning mb-6">
          <div class="card-header">
            <div class="pull-left">
              Gold
            </div>
            <div class="pull-right">
              <a class="text-white" href="mailto:photoksana@gmail.com?subject=Interested in the Gold package">
                <i class="fa fa-envelope-o"></i> Contact us</a>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-warning">One-three locations</li>
            <li class="list-group-item list-group-item-warning">1,5-2 hours</li>
            <li class="list-group-item list-group-item-warning">25 retouched high resolution images with unlimited
              rights to print the photos</li>
            <li class="list-group-item list-group-item-warning">10 prints of your choice (8x12) printed in a professional labarotory </li>
          </ul>
          <div class="card-body">
              <div class="pull-right">
                <i class="fa fa-usd" aria-hidden="true"></i>550
                <!-- <i class="fa fa-usd ml-2" aria-hidden="true"></i><strong>440</strong> -->
              </div>
            </div>
          <div class="card-footer text-right"> 
            <div class="pull-left">
              Additionally to this package you may order:
            </div>
          </div>

          <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-warning">photobook 10x10 (5 spreads)
                <span class="badge badge-warning badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>190
                </span>
                or 12x12 (5 spreads)
                <span class="badge badge-warning badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>210
                </span>
                extra spread
                <span class="badge badge-warning badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>20
                </span>
                each
              </li>
              <li class="list-group-item list-group-item-warning">extra retouched images of your choice in high resolution
                <span class="badge badge-warning badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>25
                </span>
                each
              </li>
              <li class="list-group-item list-group-item-warning">extra prints of your choice (8x12) printed in a
                professional labaratory
                <span class="badge badge-warning badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>10
                </span>
                each
              </li>
              <li class="list-group-item list-group-item-warning"> gallery of shots in high resolution images
                <span class="badge badge-warning badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>150
                </span>
              </li>
            </ul>
        </div>
      </div>

      <div class="col-md-6 mb-2">
        <!-- 3rd album -->
        <div class="card text-white bg-dark mb-6">
          <div class="card-header">
            <div class="pull-left">
              Premium
            </div>
            <div class="pull-right">
              <a class="text-white" href="mailto:photoksana@gmail.com?subject=Interested in the Premium package">
                <i class="fa fa-envelope-o"></i> Contact us</a>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-dark">Unlimited locations</li>
            <li class="list-group-item list-group-item-dark">Up to 4 hours</li>
            <li class="list-group-item list-group-item-dark">40 retouched high resolution images with unlimited rights to print the photos</li>
            <li class="list-group-item list-group-item-dark">40 prints of your choice (8x12) printed in a professional labarotory </li>
            <li class="list-group-item list-group-item-dark">Gallery of high resolution images with unlimited rights to print the photos</li>
            <li class="list-group-item list-group-item-dark">Photobook 12x12 (premium cover)</li>

          </ul>
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-usd" aria-hidden="true"></i>1,250
              <!-- <i class="fa fa-usd ml-2" aria-hidden="true"></i><strong>1,000</strong> -->
            </div>
          </div>
          <div class="card-footer">
            <div class="pull-left">
              Additionally to this package you may order:
            </div>
          </div>
          <ul class="list-group list-group-flush">
            
              <li class="list-group-item list-group-item-dark">extra retouched images of your choice in high resolution
                <span class="badge badge-dark badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>25
                </span>
                each
              </li>
              <li class="list-group-item list-group-item-dark">extra prints of your choice (8x12) printed in a
                professional labaratory
                <span class="badge badge-dark badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>10
                </span>
                each
              </li>
              
            </ul>
        </div>
      </div>
      
      <div class="col-md-6 mb-2">
        <!-- 4st package -->
        <div class="card text-white bg-success mb-6">
          <div class="card-header">
            <div class="pull-left">
              Wedding Basic
            </div>
            <div class="pull-right">
              <a class="text-white" href="mailto:photoksana@gmail.com?subject=Interested in the Silver package">
                <i class="fa fa-envelope-o"></i> Contact us</a>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-success">One location</li>
            <li class="list-group-item list-group-item-success">1 hour</li>
            <li class="list-group-item list-group-item-success">Gallery of high resolution images with unlimited rights to print the photos</li>
          </ul>
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-usd" aria-hidden="true"></i>200
              <!-- <i class="fa fa-usd ml-2" aria-hidden="true"></i><strong>160</strong> -->
            
            </div>
          </div>
          <div class="card-footer">
            <div class="pull-left">
              Additionally to this package you may order:
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-success">photobook 10x10 (5 spreads)
              <span class="badge badge-success badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>190
              </span>
              or 12x12 (5 spreads)
              <span class="badge badge-success badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>210
              </span>
              extra spread
              <span class="badge badge-success badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>20
              </span>
              each
            </li>
            <li class="list-group-item list-group-item-success">retouched images of your choice in high resolution
              <span class="badge badge-success badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>25
              </span>
              each
            </li>
            <li class="list-group-item list-group-item-success">prints of your choice (8x12) printed in a professional labaratory
              <span class="badge badge-success badge-pill">
                <i class="fa fa-usd" aria-hidden="true"></i>10
              </span>
              each
            </li>
            
          </ul>
        </div>
      </div>

      <div class="col-md-6 mb-2">
        <!-- 5th album -->
        <div class="card text-white bg-info mb-6">
          <div class="card-header">
            <div class="pull-left">
                Wedding Optimum
            </div>
            <div class="pull-right">

              <a class="text-white" href="mailto:photoksana@gmail.com?subject=Interested in the Wedding package">
                <i class="fa fa-envelope-o"></i> Contact us</a>

            </div>

          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-info">Unlimited locations</li>
            <li class="list-group-item list-group-item-info">Up to 8 hours</li>
            <li class="list-group-item list-group-item-info">Love story</li>
            <li class="list-group-item list-group-item-info">40 retouched high resolution images</li>
            <li class="list-group-item list-group-item-info">40 printed photos (8x12)</li>
            <li class="list-group-item list-group-item-info">Gallery of 250 - 300 high resolution images with unlimited rights to print the
              photos</li>
            <li class="list-group-item list-group-item-info">Photobook 12x12 (leather hard cover)</li>

          </ul>
          <div class="card-body">
            <div class="pull-right">
              <i class="fa fa-usd" aria-hidden="true"></i>2,750
              <!-- <i class="fa fa-usd ml-2" aria-hidden="true"></i><strong>2,200</strong> -->
            </div>
          </div>
          <div class="card-footer">
            <div class="pull-left">
              Additionally to this package you may order:
            </div>
          </div>
          <ul class="list-group list-group-flush">
            
              <li class="list-group-item list-group-item-info">extra retouched images of your choice in high resolution
                <span class="badge badge-info badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>25
                </span>
                each
              </li>
              <li class="list-group-item list-group-item-info">extra prints of your choice (8x12) printed in a
                professional labaratory
                <span class="badge badge-info badge-pill">
                  <i class="fa fa-usd" aria-hidden="true"></i>10
                </span>
                each
              </li>
              
            </ul>
        </div>
      </div>
  </div>
</div>