<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">Blog</h3>
    <section>

        <div class="card">
            <ul class="list-inline">  
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/child-photography">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Child photography
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
    
                  <a routerLink="/blog/hair-nails-makeup">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Hair, nails, makeup
                    </button>
                  </a>
    
                
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/location">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Location
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/outfit-for-photo">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Outfit for photo
                    </button>
                  </a>
    
              </li>
    
              <li class="list-inline-item top10">
                  <a routerLink="/blog/preparing-newborn-photoshoot">
                    <button type="button" class="btn btn-outline-primary btn-lg">
                        Preparing newborn photoshoot
                    </button>
                  </a>
    
              </li>
    
            </ul>
          </div>

          
      <div class="card">
        <h5 class="card-header">Tips for preparing to the newborn photo shoot</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-06-13 20:00"> 2019-06-13</time>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-calendar"></i>
              The ideal time for a photo shoot is 3-14 days. Why? At this age, children are very calm, as they do not worry about colic in the tummy, they eat and sleep a lot. Babies still feel comfortable in the fetal position, and "get straightened" by the end of the second week of their life. During this period, the photographer can do a lot of different poses with the child, and you can get a bunch of beautiful cards. After the child is 2 weeks old, I can also take a photosession, but please keep in mind that the child will probably not take diverse poses, and as a result there will be less different photos.
            </li>
            <li class="list-group-item">
              <i class="fa fa-hourglass-start"></i>
              I highly recommend booking a photo session 2-3 months before the due date.In this case I will definitely find time to capture your child in the first 2 weeks of his/her life. It is very desirable to let me know that the baby arrived in the first 2 days from the moment of birth, and then we will choose the exact datefor the photo session.
            </li>
            <li class="list-group-item">
              <i class="fa fa-home"></i>
              The photo session can be either in your home or in a photo studio. It is always more convenient for a photographer to take pictures in a photo studio, since the light is set up, he/she doesn’t have to spend time traveling, etc. But is it comfortable for the baby? More likely no than yes. There is no doubt that the familiar atmosphere, smells, sounds are more comfortable for the baby. The choice is yours.
            </li>
            <li class="list-group-item">
              <i class="fa fa-users"></i>
              Decide how many people are going to participate in the shooting and share this information with the photographer. The photographer will think over the options of posing.
            </li>
            <li class="list-group-item">
              <i class="fa fa-file-photo-o"></i>
              Decide on the number of photos you want to receive as a result. Look at the photographer's website for any additional options to the desired package: photo books, canvases, other printed products. Often, ordering additional services through a photographer is more profitable than later doing it yourself.
            </li>
            <li class="list-group-item">
              <i class="fa fa-file-zip-o"></i>
              Send the photographer a few photos that you like and dislike. This will help you protect yourself from getting unexpected result. For example, you like bright photos, or you don’t like too much edited photos, or you don’t like photos on an artificial backdrop. The photographer should know about it. Believe me, the moredetails you discuss before shooting, the more likely you will be satisfied with the result.
            </li>
            <li class="list-group-item">
              <i class="fa fa-paint-brush"></i>
              Do not worry if there are pimples, dryness, redness etc. on the baby’s skin. The photographer will remove these issues when editing photos.
            </li>
            <li class="list-group-item">
              <i class="fa fa-comment"></i>
              Discuss your clothes and their colors with the photographer if mom and dad are going to pose with the baby.
            </li>
          </ul>
        </div>
      </div>

    </section>

  </div>
</div>