<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">Contact Us</h3>
    <div class="row centered">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="mailto:photoksana@gmail.com">
                <i class="fa fa-envelope-o"></i> Email me</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a onclick="return gtag_report_conversion('tel:224-944-1760');" href="tel:224-944-1760">
                <i class="fa fa-phone"></i> Call 224-944-1760</a>
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                  <a href="https://www.instagram.com/ksanaphotography">
                    <i class="fa fa-instagram"></i> Instagram</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                    <a href="https://www.facebook.com/photoksana">
                      <i class="fa fa-facebook"></i> Like on Facebook</a>
                </h5>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>