<div class="album py-5 bg-light">
  <div class="container">
    <h3 class="color-grey">Blog</h3>
    <section>
      <h5 class="color-grey">Tips and tricks to have a great Photoshoot</h5>

      <div class="card">
        <h5 class="card-header">How to choose outfit for the photo session</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-03-22 20:00"> 2019-03-22</time>
          </h5>
          <p>
            The result of excellent photography depends on our collaboration and high-quality preparation.
            Let’s talk about what looks advantageous and what is better to avoid in your clothes.
          </p>

          <b> Avoid: </b>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              black color
            </li>
            <li class="list-group-item">
              colorful
            </li>
            <li class="list-group-item">
              striped
            </li>
            <li class="list-group-item">
              bright colors
            </li>
            <li class="list-group-item">
              logos and prints
            </li>
          </ul>
          
          <br>  
          <b> Prefer: </b>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              plain (mono-color) clothes
            </li>
            <li class="list-group-item">
              deep warm natural colors
            </li>
            <li class="list-group-item">
              natural fabrics
            </li>
            <li class="list-group-item">
              bright colors
            </li>
            <li class="list-group-item">
              calm colors
            </li>
            <li class="list-group-item">
              combination of 2-3 colors and their hues. I recommend to take one
              intense color as a basis, and complement it with
              neutral - from beige to brown
            </li>
            <li class="list-group-item">
              scarves, gloves, hats, accessories would perfectly complement the image
            </li>
          </ul>
           <br> 
          <p>
            Choose among clothes you have at home, make a picture and send it to me on my cell:
            224-944-1760 and I will be happy to assist you with choosing the best outfit
            for your photo session.
          </p>
          <p>
            If you have chosen your outfit for the photo session, make sure it is
            appropriate for the location you are going to use. Both location and
            clothes must be combined in color and texture. For example, a gown and heels
            or a bow-tie suit are not appropriate to the forest location.
            If you want to photoshoot in your favorite clothes, send the picture to
            me and I will offer you several locations. Or if you know exactly the
            location you want your session to be done at, tell me, and we will choose
            the best outfit for you.
          </p>
          <p>Here are some examples:</p>
          <div class="row">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit1.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit2.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit3.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit4.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit5.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit6.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit7.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit8.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 p-2">
              <img src="../assets/blogimages/psTricksTips/outfit9.png" class="card-img" alt="band">
            </div>
          
          </div>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Location</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-03-15 20:00"> 2019-03-15</time>
          </h5>
          <p class="card-text">Color makes sense!
            Color of the picture (if it is not a monochrome black&white) is one of the main characteristics our eyes pay
            attention
            at.
            In order to get harmonious pictures, you should know color palette of the location. This will help you to
            choose right
            color and texture of the clothes.
            In my practice I always check location before the session to make a color palette for the client.
            You can find examples of the locations spread out on the color gamma below. You can see how gamma differs.
          </p>
          <div class="row">
            <div class="col-md-12">
              <img src="../assets/blogimages/psTricksTips/band.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <img src="../assets/blogimages/psTricksTips/architect.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <img src="../assets/blogimages/psTricksTips/multicolors.png" class="card-img" alt="band">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <img src="../assets/blogimages/psTricksTips/ledger.png" class="card-img" alt="band">
            </div>
          </div>
          <p class="card-text mt-3">
            As a professional photographer, even if I know the location in detail, I always come there at least the day
            before the session to doublecheck.
            The hotel’s decorations may change, tulips blossom may end, the tree you like may be hacked away or the park
            you
            were looking for photoshoot is under reconstruction.
            It is better to be prepared for all this beforehand.
          </p>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Hair, nails, makeup</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-03-04 20:00"> 2019-03-04</time>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-scissors"></i>
              Make sure your hair and nails are clean and make up is appropriate. If it is a family photo shooting,
              I recommend nude colors for nails and make up. In case you prefer a professional stylist, tell them to
              avoid highlights and glitter.
            </li>
            <li class="list-group-item">
              <i class="fa fa-sticky-note"></i>
              Pay attention to the details. If it is a maternity or family photoshoot, use nude colors.
              Bright make-up and manicure will focus attention on nails and your face, and the picture will lose its
              main idea.
            </li>
            <li class="list-group-item">
              <i class="fa fa-eye"></i>
              Bright manicure and makeup are appropriate for the fashion photoshoot.
            </li>
            <li class="list-group-item">
              <i class="fa fa-question-circle-o"></i>
              Ask your photographer for recommendations. Professional photographers are interested in taking great
              result, just like you, or maybe more.
              Keep in mind, if the session is going to be on the planner (forest, lavender fields, seashore, etc.) it is
              better to use natural colors.
            </li>
          </ul>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Child photography</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-calendar"></i> <time datetime="2019-02-19 20:00"> 2019-02-19</time>
          </h5>
          <p class="card-text">
            If you decided to take a toy with you, take a new toy that your kid did not see before.
            And show it exactly when the photographer is ready to capture.
            This will pull out great expressions of your child. Discard templates like “Say cheeeeeese”.
            Be creative!
          </p>
          <p class="card-text">
            Other options to stick attention of a child:
          </p>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/bell.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                A bell
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/paperPlane.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                A paper plane (“let’s see where it is going to fly”)
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/colorToys.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                Bright colorful toys
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/plasticCups.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                Plastic cup (make a noise smashing it)
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <img src="../assets/blogimages/psTricksTips/beads.png" class="card-img" alt="band">
            </div>
            <div class="col-md-6">
              <p class="card-text">
                Beads
              </p>
            </div>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fa fa-birthday-cake"></i>
              Do not give chocolate and candy during the session.
              The kid will be focused on it, and their face, hands and clothes will be dirty with chocolate and you will
              never put such picture to your package.
              The best solution is to wait until the session is over.
            </li>
            <li class="list-group-item">
              <i class="fa fa-coffee"></i>
              Take a warm blanket, warm beverage to warm up your kid during cold season.
            </li>
            <li class="list-group-item">
              <i class="fa fa-bed"></i>
              Make sure your kid slept well at the point of the day of your photoshooting. Change a damper, feed the kid
              before the session begins.
            </li>
            <li class="list-group-item">
              <i class="fa fa-comment-o"></i>
              Listen to your photographer where to place your kid: professional photographer has a certain idea in mind.
              He pays attention to the backdrop, to the light, he/she sees the picture before it is shot.
            </li>
            <li class="list-group-item">
              <i class="fa fa-certificate"></i>
              Always praise and compliment your kid, his/her experience must be positive.
            </li>
          </ul>
        </div>
      </div>




    </section>

  </div>
</div>